{% extends 'ProyectoFinalApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Sobre nosotros - Games Leaderboard
{% endblock %}

{% block contenidoPagina %}
<!DOCTYPE html>
       
<style>
    h1 {
      text-align: center    ;
    }

    body {
        text-align: center;
      }
    
    p {
        text-align: center;
      }  

    .center {
        text-align: center;
      }
</style>

<html>
  <body>
    <div class="container" > 
    &nbsp&nbsp<img src="https://i.imgur.com/L2OoRYo.png" />
    <h1>Juan Alejo Farana</h1>
    21 años <br>
    Estudiante de Ingenieria Informática (UADE)<br>
    Buenos Aires, Argentina <br>
    <a href="https://www.github.com/juan-alejo">GitHub @juan-alejo</a>
    </div> 
  </body>
<br>
<br>
<br>
  <html>
    <body>
      <div class="container" class="center" > 
      <img src="https://i.imgur.com/hIJyoA0.png" />
      <h1>Juana Carello</h1>
      asdasdadasd <br>
      asdasdasdasdasdasdasd<br>
      asdasdasdasdasdsad
    </div> 
  </body>
<br>
<br>
<br>
    <html>
        <body>
            <div class="container" > 
            &nbsp&nbsp<img src="https://i.imgur.com/L2OoRYo.png" />
            <h1>Julian Almeida</h1>
            asdasdadasd <br>
            asdasdasdasdasdasdasd<br>
            asdasdasdasdasdsad
            </div> 
          </body>


<br>
<br>
<br>
<br>

{% endblock %}