{% extends 'ProyectoFinalApp/base.html'%}
{% load static %}

{% block tituloPagina %}
Inicio - Games Leaderboard
{% endblock %}

{% block contenidoPagina %}
<!DOCTYPE html>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://www.discordianos.com/uploads/monthly_2020_09/MOSHED-2020-9-11-21-34-51.gif.7044bd29170cfc741123bf3c2ed29133.gif')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://i.imgur.com/F71YwM8.jpeg" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Games Leaderboard </h1>
                <p class="text-white-50 mb-0">Estadisticas de videojuegos</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
               <div class="row justify-content-center"> 
                    <div class="col-lg-6 text-center">
                        <h2>Games Leaderboard</h2>
                        <p class="lead">Estadisticas mundiales mensuales</p>
                        <p class="mb-0">Recopilamos todas las estadisticas mundiales de los videojuegos más jugados, ya sea sobre servidores, jugadores o cuales son los juegos que cuentan actualmente con la mayor cantidad de personas jugando. Cualquier persona puede agregar su servidor o usuario para competir en las estadisticas mensuales! </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-fit" style="background-image: url('https://pa1.narvii.com/6752/8eb3883fd8565fb1a93054cbf020e8173cf05b7e_hq.gif')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 17rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Premios para todos!</h2>
                        <p class="lead">Consigue estar en el TOP y disfruta de grandes premios!</p>
                        <p class="mb-0">Al llegar a fin de mes, quienes hayan logrado entrar en el top 5, conseguirán grandes beneficios.</p>
                        <p class="mb-0">Pero tranquilo! Si eres nuevo puedes participar de los sorteos mensuales y ganar premios!</p>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}