{% extends 'ProyectoFinalApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Juegos - Proyecto Final
{% endblock %}

{% block contenidoPagina %}
<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-3">
                <h4><p style="text-align:center">Juegos</p></h4>
                <ul class="list-group">
                    {% for juego in juegos %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            {{juego.nombre}} - {{juego.genero}}
                        </li>
                    {% endfor %}
                </ul>
                &nbsp&nbsp<a href="{% url 'crearjuego' %}">+ Agregar nuevo juego</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}